@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
$white-gray: oklch(96.7% 0.003 264.542);
$red: oklch(64.5% 0.246 16.439);
$black: oklch(26.9% 0 0);


$default-font: "Oswald", sans-serif;
$default-font-size: 16px;