файл .env по правилам игнорируется, поэтому до продакшена можно подсматривать в этот файл 
p.s. - удалить перед продакшеном


DATABASE_URL=postgresql://usernik:4518@localhost:5432/app?schema=public
PORT=3000
JWT_SECRET=local-jwt-secret
