@use "../../../styles/_variable.scss" as *;
@use "../../../styles/_mixins.scss" as mixins;

.filter{
  margin-bottom: 20px;
}
.ideas {
  .idea {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;
    & + .idea {
      margin-top: 20px;
    }

    .ideaName {
      @include mixins.h2;

      .ideaLink {
        @include mixins.link;
      }

    }

    .ideaDescription {
      font-size: 18px;
    }
  }
}
      .more{
  margin-top: 20px;
}
