@import '../../styles/variable.scss';
@import '../../styles/mixins.scss';

.loader {
  &.type-page {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    @include loader($borderWidth: 5px, $size: 60px, $color: $white-gray);
  }

  &.type-section {
    position: relative;
    display: block;
    height: 80px;
    width: 100%;
    @include loader($borderWidth: 5px, $size: 60px, $color: $white-gray);
  }
}

