@use '../../styles/variable.scss' as *;
@use '../../styles/mixins.scss' as mixins;

.loader {
  &.type-page {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    @include mixins.loader($borderWidth: 5px, $size: 60px, $color: $white-gray);
  }

  &.type-section {
    position: relative;
    display: block;
    height: 80px;
    width: 100%;
    @include mixins.loader($borderWidth: 5px, $size: 60px, $color: $white-gray);
  }
}

